In [44]:
!pip install python-dotenv

Requirement already satisfied: python-dotenv in c:\users\usuario\anaconda3\lib\site-packages (0.21.0)

In [1]:
!pip install --upgrade sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\usuario\anaconda3\lib\site-packages (2.0.30)
Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.36-cp312-cp312-win_amd64.whl.metadata (9.9 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\usuario\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\usuario\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Downloading SQLAlchemy-2.0.36-cp312-cp312-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
    --------------------------------------- 0.0/2.1 MB 217.9 kB/s eta 0:00:10
    --------------------------------------- 0.0/2.1 MB 217.9 kB/s eta 0:00:10
    --------------------------------------- 0.0/2.1 MB 195.7 kB/s eta 0:00:11
   -- ------------------------------------- 0.1/2.1 MB 435.7 kB/s eta 0:00:05
   ----- ---------------------------------- 0.3/2.1 MB 1.0 MB/s eta 0:00:02
   --------- ------------------------------ 0.5/2.1 MB 1.5 MB/s eta 0:00:02
   -------------- ------------------------- 0.7/2.1 MB 2.0 MB/s eta 0:00:01
   ------------------- -------------------- 1.0/2.1 MB 2.5 MB/s eta 0:00:01
   ------------------------ --------------- 1.3/2.1 MB 2.8 MB/s eta 0:00:01
   ------------------------------- -------- 1.7/2.1 MB 3.3 MB/s eta 0:00:01
   -------------------------------------- - 2.0/2.1 MB 3.7 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 3.5 MB/s eta 0:00:00
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.30
    Uninstalling SQLAlchemy-2.0.30:
      Successfully uninstalled SQLAlchemy-2.0.30
Successfully installed sqlalchemy-2.0.36

In [2]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\usuario\anaconda3\lib\site-packages (1.1.1)

In [3]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine

In [4]:
password = "Traynor_35"
bd = "covid_vax_events"
connection_string = "mysql+pymysql://root:" + password + "@localhost/"+bd
engine = create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@localhost/covid_vax_events)

In [45]:
from sqlalchemy import text
from dotenv import load_dotenv
import os

load_dotenv()

DB_NAME = os.getenv('DB_NAME')
DB_PASSWORD = os.getenv('DB_PASSWORD')

def query_to_df(sql):
    connection_string = "mysql+pymysql://root:" + DB_PASSWORD + "@localhost/" + DB_NAME
    engine = create_engine(connection_string)
    with engine.connect() as connection:
        query = text(sql)
        result = connection.execute(query)
        return pd.DataFrame(result.all())

In [52]:
sql_query = """
SELECT * FROM covid_vax_events.sample_vax_data;
"""
df=query_to_df(sql_query)

In [53]:
df

      VAERS_ID         VAX_MANU VAX_LOT VAX_DOSE_SERIES
0       902418  PFIZER\BIONTECH  EH9899               1
1       902440  PFIZER\BIONTECH  EH9899               1
2       902446  PFIZER\BIONTECH  EH9899               1
3       902464
4       902465  PFIZER\BIONTECH  EH9899               1
...        ...              ...     ...             ...
1783    906252
1784    906253  PFIZER\BIONTECH  EH9899               1
1785    906254
1786    906255
1787    906256

[1788 rows x 4 columns]

In [43]:
#save to csv
df.to_csv('../Data/Clean/sample_event_data.csv', index=False)